body {
    padding-top: 70px;
    background: #003944 url("../img/bg2.jpg") no-repeat center top;
    font-family: "Trebuchet MS", Trebuchet, Tahoma, Arial, sans-serif;
}

.nav .active {
    border-bottom: 3px solid #122b40;
}

.btn-default {

}

.navbar-brand {
    font-weight: bold;
    font-size: 22px;
}
.logo-pc {
    color: #fff;
    background-color: #01535E;
    padding: 3px;
}

.logo-guru {
    color: #262626;
}

.form-control, .list-group-item, .btn-default {
    background-color: #fdfdfd;
    background-color: rgba(255, 253, 247, 0.60); /* FF3+, Saf3+, Opera 10.10+, Chrome */
}

.panel { background-color: transparent}
.panel-body {
    background-color: #fdfdfd;
    background-color: rgba(255, 253, 247, 0.60)
}

.box {
    margin: 50px 0 30px;
    padding: 20px;
    box-shadow: 0px 0px 12px 0px #8e98a6;
    border-radius: 12px;
    background-color: #E3EAED;
    background-color: rgba(255, 253, 247, 0.50); /* FF3+, Saf3+, Opera 10.10+, Chrome */
}

.home {
    margin: 150px 100px;
    padding: 30px;
    text-align: center;
}

.home h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.home p {
    font-size: 16px;
    font-style: italic;
}

.home .btn {
    margin-top: 20px;
    background-color: rgba(174, 212, 217, 0.30);
    border-radius: 20px;
    color: #055C66;
    border: 1px solid #055C66;
}

.home .btn:hover {
    background-color: #fdfdfd;
    background-color: rgba(255, 253, 247, 0.30)
}


